<main class="tasks-list-page">
  <header class="tasks-list-page__header">
    <h2 class="tasks-list-page__title">Tasks</h2>

    <button
      class="tasks-list-page__create-button"
      type="button"
    >
      Create Task
    </button>
  </header>

  <section
    class="tasks-list-page__listing"
    aria-labelledby="tasks-list-heading"
  >

    <ul class="tasks-list-page__list">
      <li class="tasks-list-page__item">
        <app-task-card></app-task-card>
      </li>

      <li class="tasks-list-page__item">
        <app-task-card></app-task-card>
      </li>
    </ul>
  </section>
</main>