@if (taskData() && taskId()) {
  <div class="task-details-page">
    <div class="task-details">
      <header class="task-details__header">
        <div class="task-details__meta">
          <span class="task-details__status">{{ taskData().status | statusLabel }}</span>
          <div class="task-details__actions">
            <button class="btn btn-danger btn-sm" (click)="deleteTask()">Delete</button>
            <button class="btn btn-secondary btn-sm" (click)="navigateEditTask()">Edit</button>
            <button class="btn btn-primary btn-sm" (click)="navigateBack()">Back</button>
          </div>
        </div>
        <div class="task-details__title">
          <h2>{{ taskData().title }}</h2>
        </div>
        <div class="task-details__deadline">
          <span class="task-card__deadline-label">Deadline</span>

          <time class="task-card__deadline-date" datetime="2026-09-05">
            {{ taskData().deadline | date }}
          </time>
        </div>
      </header>

      <main class="task-description">
        <quill-editor
          [readOnly]="true"
          [modules]="{ toolbar: false }"
          [ngModel]="taskData().description"
          format="object"
        ></quill-editor>
      </main>
    </div>

    <div class="comments">
      <header class="comments__header">
        <h2>Comments</h2>
      </header>

      <main class="comments__comments-container">
        <section class="comments__form">
            <app-comments-form></app-comments-form>
        </section>

        <section class="comments__list-wrapper">
          @for (comment of rootComments(); track $index) {
            <app-comment [comment]="comment"></app-comment>
          }@empty{
            <span class="comments__emtpy">No Comments</span>
          }
        </section>
      </main>
    </div>
  </div>
}
