@use 'index' as *;

.create-task {
  width: 100%;
  max-width: 800px;
  margin: $spacing-4 auto;
  padding: $spacing-8;

  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  &__header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.3;
    color: #1f2937;
  }

  &__form {
    width: 100%;
  }
}
