@if (task) {
  <article class="task-card">
    <header class="task-card__header">
      <span class="task-card__status">{{ task.status | statusLabel }}</span>

      <h3 class="task-card__title">{{ task.title }}</h3>
    </header>

    <div class="task-card__content">
      <p class="task-card__description">
        {{task.description | quillText}}
      </p>

      <div class="task-card__deadline">
        <span class="task-card__deadline-label">Deadline</span>

        <time class="task-card__deadline-date" datetime="2026-09-05"> {{ task.deadline | date }} </time>
      </div>
    </div>

    <footer class="task-card__footer">
      <a class="task-card__link" routerLink="/tasks/1"> View Task </a>
    </footer>
  </article>
}
